<footer class="footer py-3">
    <div class="container">
        <p class="small mb-2 text-light">
            Sandra Leticia Tiney Sisay | Correo: leticiatiney@gmail.com
        </p>
    </div>
</footer>

<script src="/assets/vendors/jquery/jquery-3.4.1.js"></script>
<script src="/assets/vendors/bootstrap/bootstrap.bundle.js"></script>
<script src="/assets/vendors/bootstrap/bootstrap.affix.js"></script>
<script src="/assets/vendors/isotope/isotope.pkgd.js"></script>
<script src="/assets/js/javascript.js"></script>
<script src="/assets/js/particles.min.js"></script>
<script src="/assets/js/app2.js"></script>