<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ruta No Existe</title>
    <link rel="stylesheet" href="/assets/css/estilos.css">

</head>
<body>
<div class="container404">
    <h1 class="h1404">Ruta No Existe</h1>
    <p class="p404">Lo sentimos, pero la página que estás buscando no se encuentra disponible.</p>
    <a class="a404" href="/">Volver a la Página Principal</a>
</div>

</body>
</html>