      <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Start your development with JohnDoe landing page.">
    <meta name="author" content="Devcrud">
    <title>{{titulo}}</title>
    <link rel="stylesheet" href="/assets/vendors/themify-icons/css/themify-icons.css">
    <link rel="stylesheet" href="/assets/css/estilos.css">
</head>
<body>
         {{> header}}
        
        {{> navbar }}
        <section class="section" id="service">
        <div class="container">
            <h2 class="mb-5 pb-4"><span class="text-danger">Calculadora </span>MRU y MRUV </h2>
            <p class="mt-20">La calculadora MRU y MRUV es una pagina web en donde da a conocer la funcionalidad dos temas de la Fisica muy importantes que es el Movimiento Rectilinio Uniforme y Movimiento Rectilinio Uniforme Variado, detallando sus caracteristicas principales aplicados en la vida real, junto con sus f칩rmulas y como se calculan de manera autom치tica, tan solo ingresando los datos requeridos.
                </p>
                 <h4><span class="text-danger">Lenguajes </span> de programaci칩n utlizados</h4>
                <div class="image-grid">
                        <img src="assets/imgs/html.png" alt="Logo html" class="image-item">
                        <img src="assets/imgs/css.png" alt="Logo CSS" class="image-item">
                        <img src="assets/imgs/Js.png" alt="Logo Js" class="image-item">
                    </div>
                    <br>
            <h4><span class="text-danger">Imagenes </span> de la p치gina web</h4>
                <div class="image-grid-proyecto">
                        <img src="assets/imgs/mru1.png" alt="Pagina web MRU" class="image-item-proyecto">
                        <img src="assets/imgs/mru3.png" alt="Calculadora MRU" class="image-item-proyecto">
                        <img src="assets/imgs/mruv1.png" alt="Pagina web MRUV" class="image-item-proyecto">
                        <img src="assets/imgs/mruv4.png" alt="Calculadora MRUV" class="image-item-proyecto">
                </div>
                <br>
            <h4 ><span class="text-danger">Video </span>del proyecto</h4>
        <iframe class="video-container" src="https://www.youtube.com/embed/66y3WKA29p4" frameborder="0" allowfullscreen></iframe>
        <br>
            <h4><span class="text-danger">Repositorio </span>del proyecto</h4>
            <a  class="linkRepo" target="_blank" href="https://github.com/letytiney/letytiney.github.io.git">Link del repositorio del proyecto</a>
        </div>
    </section>
        {{> footer}}
        </body>
</html>