<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Start your development with JohnDoe landing page.">
    <meta name="author" content="Devcrud">
    <title>{{titulo}}</title>
    <link rel="stylesheet" href="/assets/vendors/themify-icons/css/themify-icons.css">
    <link rel="stylesheet" href="/assets/css/estilos.css">
</head>

<body>
    {{> header}}

    {{> navbar }}
    <div class="container-fluid">
        <div class="section contact" id="contact">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="contact-info-card">
                            <h4 class="contact-title">Contactame</h4>
                            <div class="row mb-2">
                                <div class="col-1 pt-1 mr-1">
                                    <i class="ti-envelope icon-md"></i>
                                </div>
                                <div class="col-10">
                                    <h6 class="d-inline">Correo electrónico personal:<br> <span
                                            class="text-muted">leticiatiney@gmail.com</span></h6>
                                </div>
                            </div>
                            <div class="row mb-2">
                                <div class="col-1 pt-1 mr-1">
                                    <i class="ti-map-alt icon-md"></i>
                                </div>
                                <div class="col-10">
                                    <h6 class="d-inline">Telefono :<br> <span class="text-muted"> +502 58213513</span>
                                    </h6>
                                </div>
                            </div>
                            <div class="row mb-2">
                                <div class="col-1 pt-1 mr-1">
                                    <i class="ti-github icon-md"></i>
                                </div>
                                <div class="col-10">
                                    <h6 class="d-inline">Cuenta de Github :<br> <a target="_blank"
                                            class="social-link text-dark" href="https://github.com/letytiney">
                                            <span class="text-muted">Link de la cuenta</span></a><span
                                            class="text-muted"> </span></h6>
                                </div>
                            </div>
                            <ul class="social-icons pt-4">
                                <li class="social-item"></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {{> footer}}
</body>

</html>