<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Start your development with JohnDoe landing page.">
    <meta name="author" content="Devcrud">
    <title>{{titulo}}</title>
    <link rel="stylesheet" href="/assets/vendors/themify-icons/css/themify-icons.css">
    <link rel="stylesheet" href="/assets/css/estilos.css">
</head>

<body>
    {{> header}}

    {{> navbar }}
    <div class="container-fluid">
        <section class="section" id="resume">
            <div class="container">
                <h2 class="mb-5"><span class="text-danger"></span>Hoja de Vida</h2>
                <hr>
                <div class="row">
                    <div class="col-md-6 col-lg-4">
                        <div class="card">
                            <div class="card-header">
                                <div class="mt-2">
                                    <h4>Experiencia</h4>
                                    <span class="line"></span>
                                </div>
                            </div>
                            <div class="card-body">
                                <h6 class="title text-danger">Programación</h6>
                                <P>Desarrollo e implementación completa del sistema Clínico para el Centro de Salud de
                                    Sololá, backend y frontend.
                                </P>
                                <P class="subtitle">Colaboración completa en backend para el sistema de pedido y gestión
                                    de restaurante Miralago, Panajachel</P>
                                <P class="subtitle">Colaboración con el equipo de backend para la integración de la API
                                    de Moodle, utilizando Docker para el despliegue y Amazon Cognito para la
                                    autenticación.</P>
                                <P class="subtitle">Colaboración con el equipo de backend y frontend para el desarrollo
                                    de un e-commerce. </P>
                                <hr>
                                <h6 class="title text-danger">API Testing</h6>
                                <P>Pruebas funcionales, pruebas no funcionales, rendimiento y carga.</P>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-4">
                        <div class="card">
                            <div class="card-header">
                                <div class="mt-2">
                                    <h4>Educación</h4>
                                    <span class="line"></span>
                                </div>
                            </div>
                            <div class="card-body">
                                <h6 class="title text-danger">Presente 2025</h6>
                                <P class="subtitle"> Cierre de pensum en la Univerisad de Mariano Gálvez de Guatemala
                                </P>
                                <hr>
                                <h6 class="title text-danger">2023 - 2024</h6>
                                <P class="subtitle">Diploma de fullstack en el Instituto Técnico de Capacitación y
                                    Productividad,
                                    –INTECAP- </P>
                                <hr>
                                <h6 class="title text-danger">2022 - 2023</h6>
                                <P>Inglés nivel B1</P>
                                <P class="subtitle">Diploma en el Instituto Técnico de Capacitación y Productividad,
                                    –INTECAP-</P>

                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-4">
                        <div class="card">
                            <div class="card-header">
                                <div class="pull-left">
                                    <h4 class="mt-2">Conocimiento</h4>
                                    <span class="line"></span>
                                </div>
                            </div>
                            <div class="card-body pb-2">
                                <h1 class="title text-danger">Norma ISO/IEC 27001</h1>
                                <p class="subtitle">Sistema de Gestión de la Seguridad de la Información</p>
                                <h6 class="title text-danger">Norma ISO/IEC 25001</h6>
                                <p class="subtitle">Gestión y evaluación de la calidad de productos de software</p>

                                <h6 class="title text-danger">CMMI</h6>
                                <p class="subtitle">Conjunto de mejores prácticas globales que ayuda a las
                                    organizaciones a mejorar sus procesos y rendimiento</p>

                                <h6 class="title text-danger">Redes, Packet tracer</h6>
                                <p class="subtitle">Diseño de redes básico</p>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4">
                    <div class="card">
                        <div class="card-header">
                            <div class="pull-left">
                                <h4 class="mt-2">Idioma Extrangero</h4>
                                <span class="line"></span>
                            </div>
                        </div>
                        <div class="card-body pb-2">
                            <h6>Ingles hablado</h6>
                            <div class="progress mb-3">
                                <div class="progress-bar bg-danger" role="progressbar" style="width: 45%"
                                    aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                        </div>
                    </div>
                </div>
        </section>
    </div>
    {{> footer}}
</body>

</html>