      <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Start your development with JohnDoe landing page.">
    <meta name="author" content="Devcrud">
    <title>{{titulo}}</title>
    <link rel="stylesheet" href="/assets/vendors/themify-icons/css/themify-icons.css">
    <link rel="stylesheet" href="/assets/css/estilos.css">
</head>
<body>
        {{> header}}
        
        {{> navbar }}
        <section class="section" id="service">
        <div class="container">
            <h2 class="mb-5 pb-4"><span class="text-danger">E-commerce </span>básico </h2>
            <p class="mt-20">La aplicación web tiene las bases para un ecommerce en donde el cliente puede realizar la compra y dejar su comentario en los productos comprados. El sistema también cuenta con tipo de usuarios si es administrador, empleado o cliente y dependiendo de cada rol es la acción que realiza </h4>
                <div class="image-grid">
                    <img src="assets/imgs/springboot.png" alt="Logo de Springboot" class="image-item">
                    <img src="assets/imgs/env.png" alt="Logo de .ENV" class="image-item">      
                    <img src="assets/imgs/jwtLogo.png" alt="Logo de Jwt Token" class="image-item">     
                    <img src="assets/imgs/mysql.png" alt="Logo de Mysql" class="image-item">   
                    <img src="assets/imgs/mongodb.webp" alt="Logo de Mongo" class="image-item">   
                    </div>
                <h4>Tecnologias utilizadas en el Frontend</h4>
                    <div class="image-grid">
                    <img src="assets/imgs/react.png" alt="Logo de html" class="image-item">
                    <img src="assets/imgs/html.png" alt="Logo de html" class="image-item">
                    <img src="assets/imgs/css.png" alt="Logo de CSS" class="image-item">
                    <img src="assets/imgs/Js.png" alt="Logo de Js" class="image-item">
                    <img src="assets/imgs/Bootstrap.png" alt="Logo de Bootstrap" class="image-item">
                    <img src="assets/imgs/vite.jpg" alt="Logo de Bootstrap" class="image-item">
                    </div>
                    <br>

            <h4>Imagenes de la página web</h4>
                <div class="image-grid-proyecto">
                        <img src="assets/imgs/ecommerce1.png" alt="Login del restaurante" class="image-item-proyecto">
                        <img src="assets/imgs/ecommerce2.png" alt="Dashborad del restaurante" class="image-item-proyecto">
                        <img src="assets/imgs/ecommerce3.png" alt="Modulo del mesero" class="image-item-proyecto">
                        <img src="assets/imgs/ecommerce4.png" alt="Meno del restaurante" class="image-item-proyecto">
                </div>
                <br>
            <h4><span class="text-danger">Video </span>del proyecto</h4>
            <iframe class="video-container" src="https://www.youtube.com/embed/cMth3TR22wM" frameborder="0" allowfullscreen></iframe>
            <h4><span class="text-danger">Repositorio </span>del proyecto</h4>
            <a class="linkRepo" target="_blank" href="https://github.com/Juanjo21-01/front-ventas.git">Link del repositorio frontend</a>
            <br>
            <a class="linkRepo" target="_blank" href="https://github.com/Juanjo21-01/admin-ventas.git">Link del repositorio backend</a>
            <br>
            </div>
    </section>
        {{> footer}}
        </body>
</html>