<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Start your development with JohnDoe landing page.">
    <meta name="author" content="Devcrud">
    <title>{{titulo}}</title>
    <link rel="stylesheet" href="/assets/vendors/themify-icons/css/themify-icons.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
    <link rel="stylesheet" href="/assets/css/estilos.css">
</head>
<body> 
        {{> header}}
        
        {{> navbar }}
<br>
<br>

    <div class="container-fluid">
        <h2 class="skills">Habilidades y destrezas</h2>
        <div id="about" class="row about-section">
            <div class="col-lg-4 about-card">
                <h3 class="font-weight-light">Soft skill  <i class="fa-solid fa-handshake-angle"></i></h3>
                <span class="line mb-5"></span>
                <p class="mt-20">Mi habilidades blandas son un conjunto de competencias interpersonales y de comunicación que me permiten interactuar de manera efectiva y armoniosa con otros. </p>
                <ol>
                    <li class="mt-20">Comunicación</li>
                    <li class="mt-20">Trabajo en equipo</li>
                    <li class="mt-20">Adaptabilidad</li>
                    <li class="mt-20">Pensamiento crítico</li>
                    <li class="mt-20">Empatía</li>
                    <li class="mt-20">Creatividad</li>
                    <li class="mt-20">Gestión del tiempo</li>
                </ol>
            </div>
            <div class="col-lg-4 about-card">
                <h3 class="font-weight-light">Hard skill <i class="fa-solid fa-book"></i></h3>
                <span class="line mb-5"></span>
                <p class="mt-20">Mis habilidades técnicas han y seguiran estando desarrollando para mejorar mis técnicas de trabajo y desempeño. Estas habilidades lo seguiré adquiriendo a través de la educación formal, la capacitación y la experiencia en la práctica </p>
                <ol>
                    <li class="mt-20">Programación</li>
                    <li class="mt-20">Desarrollo web</li>
                    <li class="mt-20">Bases de datos</li>
                    <li class="mt-20">Diseño</li>
                    <li class="mt-20">Redes</li>
                    <li class="mt-20">Electrónica</li>
                    <li class="mt-20">Idioma extranjera</li>
                </ol>
            </div>          
            <div class="col-lg-4 about-card">
                <h3 class="font-weight-light">Mi expeciencia <i class="fa-solid fa-mug-hot"></i></h3>
                <span class="line mb-5"></span>
                <div class="row">
                    <div class="col-1 text-danger pt-1"><i class="ti-widget icon-lg"></i></div>
                    <div class="col-10 ml-auto mr-3">
                        <h6>Toma de requerimientos</h6>
                        <p class="subtitle">Siguiendo las fases de Kendall & Kendall</p>
                        <hr>
                    </div>
                </div>
                <div class="row">
                    <div class="col-1 text-danger pt-1"><i class="ti-paint-bucket icon-lg"></i></div>
                    <div class="col-10 ml-auto mr-3">
                        <h6>Desarrollo web Frontend</h6>
                        <p class="subtitle">Usando framework o librerias de diseño</p>
                        <hr>
                    </div>
                </div>
                <div class="row">
                    <div class="col-1 text-danger pt-1"><i class="ti-stats-up icon-lg"></i></div>
                    <div class="col-10 ml-auto mr-3">
                        <h6>Desarrollo de Backend</h6>
                        <p class="subtitle">En lenguajes interpretados como JavaScrip, Node.js y compilados como java y c# </p>
                        <hr>
                    </div>
                </div>
            </div>
        </div>
    </div>
   {{> footer}}
</body>
</html>