<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{{titulo}}</title>
    <link rel="stylesheet" href="/assets/vendors/themify-icons/css/themify-icons.css">
    <link rel="stylesheet" href="/assets/css/estilos.css">
    <link rel="stylesheet" href="/assets/css/footer.css">
    <link rel="stylesheet" href="/public_html/assets/css/header.css">
</head>

<body data-spy="scroll" data-target=".navbar" data-offset="40" id="home">

    {{> header}}
    {{> navbar }}

    <br>
    <div class="container-fluid">
        <h2 class="skills">¿Quién soy yo?</h2>
        <div id="about" class="row about-section">
            <div class="col-lg-4 about-card">
                <h3 class="font-weight-light">Programadora Junior para backend y frontend</h3>
                <span class="line mb-5"></span>
                <p class="mt-10">Cierre de pensum de Ingeniería en Sistemas de la Universidad Mariano Galvez de
                    Guatemala. Con gran entusiasmo de aplicar mis conocimientos en el área laboral. Me motiva explorar y
                    aprender cosas nuevas para ser una profesional competente y seguir mejorando mis habilidades
                    técnicas y destrezas.</p>
                <p class="mt-20">Impulsada por grandes metas y un propósito claro, con el compromiso de convertirme en
                    una
                    profesional excepcional, ejerciendo mis funciones con eficiencia y aportando valor constante
                    a través del aprendizaje y la mejora continua</p>
            </div>
            <div class="col-lg-4 about-card">
                <h3 class="font-weight-light">Mis pasatiempos</h3>
                <span class="line mb-5"></span>
                <h5 class="mb-3">Ajedrecista</h5>
                <p class="mt-20">En mis tiempos libres, me gusta jugar ajedrez online con personas diferentes en que
                    puedo aprender nuevas técnicas de juegos. Desde niña ha sido unos de los juegos que me han fascinado
                    por su complejidad
                </p>
                <h5 class="mb-3">Top lista de mis pasatiempos favoritos</h5>
                <ol>
                    <li class="mt-20">Ser voluntaria</li>
                    <li class="mt-20">Conectarme con la naturaleza</li>
                    <li class="mt-20">Salir a caminar</li>
                    <li class="mt-20">Ir al gimnacio</li>
                    <li class="mt-20">Musica/arte</li>

                </ol>
            </div>
            <div class="col-lg-4 about-card">
                <h3 class="font-weight-light">Información Personal</h3>
                <span class="line mb-5"></span>
                <ul class="mt40 info list-unstyled">
                    <li><span>Nombre completo</span> : Sandra Leticia Tiney Sisay</li>
                    <li><span>Fecha de nacimiento</span> : 22/05/1998</li>
                    <li><span>Correo Electrónico</span> : leticiatiney@gmail.com</li>
                    <li><span>Estado cívil</span> : Soltera </li>
                    <li><span>Dirección</span> : Deparamento de Sololá, Guatemala </li>
                </ul>

            </div>
        </div>
    </div>

    <section class="section bg-dark text-center">
        <div class="container">
            <div class="row text-center">
                <div class="col-md-6 col-lg-3">
                    <div class="row ">
                        <div class="col-5 text-right text-light border-right py-3">
                            <div class="m-auto"><i class="ti-alarm-clock icon-xl"></i></div>
                        </div>
                        <div class="col-7 text-left py-3">
                            <h1 class="text-danger font-weight-bold font40">300</h1>
                            <p class="text-light mb-1">Horas trabajadas</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-3">
                    <div class="row">
                        <div class="col-5 text-right text-light border-right py-3">
                            <div class="m-auto"><i class="ti-layers-alt icon-xl"></i></div>
                        </div>
                        <div class="col-7 text-left py-3">
                            <h1 class="text-danger font-weight-bold font40">4</h1>
                            <p class="text-light mb-1">Proyecto Finalizados</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-3">
                    <div class="row">
                        <div class="col-5 text-right text-light border-right py-3">
                            <div class="m-auto"><i class="ti-face-smile icon-xl"></i></div>
                        </div>
                        <div class="col-7 text-left py-3">
                            <h1 class="text-danger font-weight-bold font40">5</h1>
                            <p class="text-light mb-1">Certificados Obtenidos</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-3">
                    <div class="row">
                        <div class="col-5 text-right text-light border-right py-3">
                            <div class="m-auto"><i class="ti-heart-broken icon-xl"></i></div>
                        </div>
                        <div class="col-7 text-left py-3">
                            <h1 class="text-danger font-weight-bold font40">6</h1>
                            <p class="text-light mb-1">Lenguajes de programación trabajadas</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    {{> footer }}
</body>

</html>