<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Start your development with JohnDoe landing page.">
    <meta name="author" content="Devcrud">
    <title>{{titulo}}</title>
    <link rel="stylesheet" href="/assets/vendors/themify-icons/css/themify-icons.css">
    <link rel="stylesheet" href="/assets/css/estilos.css">
</head>
<body>
        
        {{> header}}
        
        {{> navbar }}
   
    <div class="container-fluid">
    <section class="section bg-custom-gray" id="portfolio">
        <div class="container">
            <h1 class="mb-5"><span class="text-danger">Conocimiento </span>en lenguajes de programación</h1>
            <p class="mt-20">Estos son los lenguajes de programación que he tenido experiencia en realizar un proyecto y en el rango de conocimiento en la que se encuentran</p>
            <div class="portfolio">
                <div class="filters">
                    <a href="#" data-filter=".backend" class="active">
                        Backend
                    </a>
                    <a href="#" data-filter=".frontend">
                        Fontend
                    </a>
                    <a href="#" data-filter=".principiante">
                        Principiante
                    </a>
                    <a href="#" data-filter=".dominado">
                        Dominados
                    </a>
                </div>
                <div class="portfolio-container"> 
                    <div class="col-md-6 col-lg-4  principiante backend">
                        <div class="portfolio-item">
                            <img src="assets/imgs/node.png" class="img-fluid medida-img" alt="Logo de node.js">
                            <div class="content-holder">
                                <a class="img-popup" href="assets/imgs/node.png"></a>
                                <div class="text-holder">
                                    <h6 class="title">Node.js</h6>
                                    <p class="subtitle">Usando Express</p>
                                </div>
                            </div>   
                        </div>             
                    </div>
                    <div class="col-md-6 col-lg-4  principiante backend ">
                        <div class="portfolio-item">
                            <img src="assets/imgs/springboot.png" class="img-fluid medida-img" alt="Logotipo de SpringBoot">
                            <div class="content-holder">
                                <a class="img-popup" href="assets/imgs/springboot.png"></a>
                                <div class="text-holder">
                                    <h6 class="title">SpingBoot</h6>
                                    <p class="subtitle"></p>
                                </div>
                            </div> 
                        </div>                         
                    </div>
                        <div class="col-md-6 col-lg-4 backend principiante">
                        <div class="portfolio-item">
                            <img src="assets/imgs/c++.png" class="img-fluid " alt="Logotipo de C++">                        
                            <div class="content-holder">
                                <a class="img-popup" href="assets/imgs/c++.png"></a>
                                <div class="text-holder">
                                    <h6 class="title">C++</h6>
                                    <p class="subtitle"></p>
                                </div>
                            </div> 
                        </div>
                    </div> 
                    <div class="col-md-6 col-lg-4 frontend dominado">
                        <div class="portfolio-item">
                            <img src="assets/imgs/html.png" class="img-fluid medida-img" alt="Logotipo de HTML">                         
                            <div class="content-holder">
                                <a class="img-popup" href="assets/imgs/html.png"></a>
                                <div class="text-holder">
                                    <h6 class="title">HTML5</h6>
                                    <p class="subtitle"></p>
                                </div>
                            </div>    
                        </div>              
                    </div> 
                    <div class="col-md-6 col-lg-4 frontend dominado">
                        <div class="portfolio-item">
                            <img src="assets/imgs/css.png" class="img-fluid medida-img" alt="Logotipo de CSS">
                            <div class="content-holder">
                                <a class="img-popup" href="assets/imgs/css.png"></a>
                                <div class="text-holder">
                                    <h6 class="title">CSS3</h6>
                                    <p class="subtitle"></p>
                                </div>
                            </div>
                        </div>                                                     
                    </div>
                    
                    <div class="col-md-6 col-lg-4 frontend dominado"> 
                        <div class="portfolio-item">
                            <img src="assets/imgs/Js.png" class="img-fluid medida-img" alt="Logotipo de JavaScript">                               
                            <div class="content-holder">
                                <a class="img-popup" href="assets/imgs/Js.png"></a>
                                <div class="text-holder">
                                    <h6 class="title">JavaScript</h6>
                                    <p class="subtitle"></p>
                                </div>
                            </div>
                        </div>                                                       
                    </div> 
                    <div class="col-md-6 col-lg-4 frontend dominado">
                        <div class="portfolio-item">
                            <img src="assets/imgs/react.png" class="img-fluid medida-img" alt="Logotipo de react">  
                           <div class="content-holder">
                                <a class="img-popup " href="assets/imgs/react.png"></a>
                                <div class="text-holder">
                                    <h6 class="title">React</h6>
                                    <p class="subtitle"></p>
                                </div>
                            </div>
                        </div>                                                     
                    </div>
                    <div class="col-md-6 col-lg-4 frontend dominado">
                        <div class="portfolio-item">
                            <img src="assets/imgs/Bootstrap.png" class="img-fluid medida-img" alt="Logotipo de Boostrap">       
                            <div class="content-holder">
                                <a class="img-popup" href="assets/imgs/Bootstrap.png"></a>
                                <div class="text-holder">
                                    <h6 class="title">Bootstrap</h6>
                                    <p class="subtitle"></p>
                                </div>
                            </div>
                        </div>                                                       
                    </div> 
                </div> 
            </div>  
        </div>            
    </section>
    </div>
    {{> footer}}
</body>
</html>