<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Start your development with JohnDoe landing page.">
    <meta name="author" content="Devcrud">
    <title>{{titulo}}</title>
    <link rel="stylesheet" href="/assets/vendors/themify-icons/css/themify-icons.css">
    <link rel="stylesheet" href="/assets/css/estilos.css">
</head>
<body>
        <nav class="navbar sticky-top navbar-expand-lg navbar-light bg-white" data-spy="affix" data-offset-top="510">
        <div class="container">
            <button class="navbar-toggler ml-auto" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse mt-sm-20 navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a href="/" class="nav-link">Home</a>
                    </li>
                    <li class="nav-item">
                        <a href="/sobremi" class="nav-link">Sobre mi</a>
                    </li>
                    <li class="nav-item">
                        <a href="/cv" class="nav-link">Hoja de vida</a>
                    </li>
                </ul>
                <ul class="navbar-nav brand">
                    <li class="brand-txt">
                        <h5 class="brand-title">{{nombre}}</h5>
                        <div class="brand-subtitle">{{ocupacion}}</div>
                    </li>
                </ul>
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a href="/lenguajes" class="nav-link">Dominio de Lenguajes</a>
                    <li class="nav-item last-item">
                        <a href="/contacto" class="nav-link">Contacto</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="container-fluid">
    <section class="section bg-custom-gray" id="portfolio">
        <div class="container">
            <h1 class="mb-5"><span class="text-danger">Conocimiento </span>en lenguajes de programación</h1>
            <div class="portfolio">
                <div class="filters">
                    <a href="#" data-filter=".backend" class="active">
                        Backend
                    </a>
                    <a href="#" data-filter=".frontend">
                        Fontend
                    </a>
                    <a href="#" data-filter=".principiante">
                        Principiante
                    </a>
                    <a href="#" data-filter=".dominado">
                        Dominados
                    </a>
                </div>
                <div class="portfolio-container"> 
                    <div class="col-md-6 col-lg-4  principiante backend">
                        <div class="portfolio-item">
                            <img src="assets/imgs/node.png" class="img-fluid" alt="Logo de node.js">
                            <div class="content-holder">
                                <a class="img-popup" href="assets/imgs/node.png"></a>
                                <div class="text-holder">
                                    <h6 class="title">Node.js</h6>
                                    <p class="subtitle">Usando Express</p>
                                </div>
                            </div>   
                        </div>             
                    </div>
                    <div class="col-md-6 col-lg-4  principiante backend ">
                        <div class="portfolio-item">
                            <img src="assets/imgs/springboot.png" class="img-fluid" alt="Logotipo de SpringBoot">
                            <div class="content-holder">
                                <a class="img-popup" href="assets/imgs/springboot.png"></a>
                                <div class="text-holder">
                                    <h6 class="title">SpingBoot</h6>
                                    <p class="subtitle"></p>
                                </div>
                            </div> 
                        </div>                         
                    </div>
                          <div class="col-md-6 col-lg-4 backend principiante">
                        <div class="portfolio-item">
                            <img src="assets/imgs/c++.png" class="img-fluid" alt="Logotipo de C++">                        
                            <div class="content-holder">
                                <a class="img-popup" href="assets/imgs/c++.png"></a>
                                <div class="text-holder">
                                    <h6 class="title">C++</h6>
                                    <p class="subtitle"></p>
                                </div>
                            </div> 
                        </div>
                    </div> 
                    <div class="col-md-6 col-lg-4 frontend dominado">
                        <div class="portfolio-item">
                            <img src="assets/imgs/html.png" class="img-fluid" alt="Logotipo de HTML">                         
                            <div class="content-holder">
                                <a class="img-popup" href="assets/imgs/html.png"></a>
                                <div class="text-holder">
                                    <h6 class="title">HTML5</h6>
                                    <p class="subtitle"></p>
                                </div>
                            </div>    
                        </div>              
                    </div> 
                    <div class="col-md-6 col-lg-4 frontend dominado">
                        <div class="portfolio-item">
                            <img src="assets/imgs/css.png" class="img-fluid" alt="Logotipo de CSS">
                            <div class="content-holder">
                                <a class="img-popup" href="assets/imgs/css.png"></a>
                                <div class="text-holder">
                                    <h6 class="title">CSS3</h6>
                                    <p class="subtitle"></p>
                                </div>
                            </div>
                        </div>                                                     
                    </div>

                    <div class="col-md-6 col-lg-4 frontend dominado"> 
                        <div class="portfolio-item">
                            <img src="assets/imgs/Js.png" class="img-fluid" alt="Logotipo de JavaScript">                               
                            <div class="content-holder">
                                <a class="img-popup" href="assets/imgs/Js.png"></a>
                                <div class="text-holder">
                                    <h6 class="title">JavaScript</h6>
                                    <p class="subtitle"></p>
                                </div>
                            </div>
                        </div>                                                       
                    </div> 
                    <div class="col-md-6 col-lg-4 frontend dominado">
                        <div class="portfolio-item">
                            <img src="assets/imgs/react.png" class="img-fluid" alt="Logotipo de react">  
                           <div class="content-holder">
                                <a class="img-popup" href="assets/imgs/react.png"></a>
                                <div class="text-holder">
                                    <h6 class="title">React</h6>
                                    <p class="subtitle"></p>
                                </div>
                            </div>
                        </div>                                                     
                    </div>
                    <div class="col-md-6 col-lg-4 frontend dominado">
                        <div class="portfolio-item">
                            <img src="assets/imgs/Bootstrap.png" class="img-fluid" alt="Logotipo de Boostrap">       
                           <div class="content-holder">
                                <a class="img-popup" href="assets/imgs/Bootstrap.png"></a>
                                <div class="text-holder">
                                    <h6 class="title">Bootstrap</h6>
                                    <p class="subtitle"></p>
                                </div>
                            </div>
                        </div>                                                       
                    </div> 
                </div> 
            </div>  
        </div>            
    </section>
    </div>
    <br>
    <br>
    <br><br><br>
    <br>
    <br>
    <br><br><br>
    <br>
    <br>
    <br><br><br>
    <br>
    <br>
    <br><br><br>
</body>
<script src="/assets/vendors/jquery/jquery-3.4.1.js"></script>
<script src="/assets/vendors/bootstrap/bootstrap.bundle.js"></script>

<script src="/assets/vendors/bootstrap/bootstrap.affix.js"></script>
<!-- Isotope  -->
<script src="/assets/vendors/isotope/isotope.pkgd.js"></script>
<!-- JohnDoe js -->
<script src="/assets/js/javascript.js"></script>
  <footer class="footer py-3">
        <div class="container">
            <p class="small mb-0 text-light">
                &copy; <script>document.write(new Date().getFullYear())</script> Creado con <i class="ti-heart text-danger"></i> por <a href="http://devcrud.com" target="_blank"><span class="text-danger" title="Bootstrap 4 Themes and Dashboards">DevCRUD</span></a> 
            </p>
        </div>
    </footer>
</html>