<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Start your development with JohnDoe landing page.">
    <meta name="author" content="Devcrud">
    <title>{{titulo}}</title>
    <link rel="stylesheet" href="/assets/vendors/themify-icons/css/themify-icons.css">
    <link rel="stylesheet" href="/assets/css/estilos.css">
</head>

<body>
    {{> header}}

    {{> navbar }}
    <section class="section" id="service">
        <div class="container">
            <h2 class="pb-4"><span class="text-danger">Lista de Proyectos</span> </h2>
            <h4>Sistema Clínico</h4>
            <p class="mt-20">Plataforma web para la gestion de pacientes, programacion de citas, expedientes, historial
                clínico, usuarios con roles</p>
            <h6>Imagenes del sistema</h6>
            <div class="image-grid-proyecto">
                <img src="assets/imgs/login.png" alt="Login" class="image-item-proyecto">
                <img src="assets/imgs/Dashboard.png" alt="Dashborad" class="image-item-proyecto">
                <img src="assets/imgs/Expedientes.png" alt="Expedientes" class="image-item-proyecto">
                <img src="assets/imgs/GestionCitas.png" alt="Gestion de citas" class="image-item-proyecto">
            </div>
            <h6>Tecnologías utilizadas en el backend</h6>
            <div class="image-grid">
                <img src="assets/imgs/net.png" alt=".Net" class="image-item">
                <img src="assets/imgs/postgresql.png" alt="Postgres" class="image-item">
                <img src="assets/imgs/jwtLogo.png" alt="JWT" class="image-item">
            </div>
            <h6>Tecnologías utilizadas en el frontend</h6>
            <div class="image-grid">
                <img src="assets/imgs/react.png" alt="Logo de html" class="image-item">
                <img src="assets/imgs/chakra.jpg" alt="Logo de html" class="image-item">
                <img src="assets/imgs/html.png" alt="Logo de html" class="image-item">
                <img src="assets/imgs/css.png" alt="Logo de CSS" class="image-item">
                <img src="assets/imgs/Js.png" alt="Logo de Js" class="image-item">
            </div>
            <br>
            <br>
            <h4>Aplicación Web para Restaurante </h4>
            <p class="mt-20">Aplicación web para la gestion de pedidos de los clientes, caja y cuadre, menú. </p>

            <br>

            <h6>Imagenes del sistema</h6>
            <div class="image-grid-proyecto">
                <img src="assets/imgs/loginRest.png" alt="Login del restaurante" class="image-item-proyecto">
                <img src="assets/imgs/dashMl.png" alt="Dashborad del restaurante" class="image-item-proyecto">
                <img src="assets/imgs/modMesero.png" alt="Modulo del mesero" class="image-item-proyecto">
                <img src="assets/imgs/menu.png" alt="Meno del restaurante" class="image-item-proyecto">
            </div>
            <a href="https://github.com/letytiney/BackendLogin.git">Link del repositorio backend</a>
            <br>
            <a href="https://github.com/EdwinFISA/FrontendRestaurante.git">Link del repositorio frontend</a>
            <h6>Tecnologías utilizadas en el Backend</h6>
            <div class="image-grid">
                <img src="assets/imgs/env.png" alt="Logo de .ENV" class="image-item">
                <img src="assets/imgs/Express.png" alt="Logo de Express" class="image-item">
                <img src="assets/imgs/jwtLogo.png" alt="Logo de JWT" class="image-item">
                <img src="assets/imgs/mysql.png" alt="Logo de Mysql" class="image-item">

            </div>

            <h6>Tecnologías utilizadas en el Frontend</h6>
            <div class="image-grid">
                <img src="assets/imgs/react.png" alt="Logo de html" class="image-item">
                <img src="assets/imgs/html.png" alt="Logo de html" class="image-item">
                <img src="assets/imgs/css.png" alt="Logo de CSS" class="image-item">
                <img src="assets/imgs/Js.png" alt="Logo de Js" class="image-item">
                <img src="assets/imgs/Bootstrap.png" alt="Logo de Bootstrap" class="image-item">
                <img src="assets/imgs/sweetalert.png" alt="Logo de Sweetalert" class="image-item">
            </div>
            <br>
            <h2> E-commerce básico </h2>
            <p class="mt-20">La aplicación web tiene las bases para un ecommerce en donde el cliente puede realizar la
                compra y dejar su comentario en los productos comprados. El sistema también cuenta con tipo de usuarios
                si es administrador, empleado o cliente y dependiendo de cada rol es la acción que permite realizar </p>
            <h6>Imagenes del sistema</h6>
            <div class="image-grid-proyecto">
                <img src="assets/imgs/ecommerce1.png" alt="Login del restaurante" class="image-item-proyecto">
                <img src="assets/imgs/ecommerce2.png" alt="Dashborad del restaurante" class="image-item-proyecto">
                <img src="assets/imgs/ecommerce3.png" alt="Modulo del mesero" class="image-item-proyecto">
                <img src="assets/imgs/ecommerce4.png" alt="Meno del restaurante" class="image-item-proyecto">
            </div>
            <a href="https://github.com/Juanjo21-01/admin-ventas.git">Link del repositorio Backend</a><br>
            <a href="https://github.com/Juanjo21-01/front-ventas.git">Link del repositorio Frontend</a>
            <h6>Tecnologías utilizadas en el Backend</h6>
            <div class="image-grid">
                <img src="assets/imgs/springboot.png" alt="Logo de Springboot" class="image-item">
                <img src="assets/imgs/env.png" alt="Logo de .ENV" class="image-item">
                <img src="assets/imgs/jwtLogo.png" alt="Logo de Jwt Token" class="image-item">
                <img src="assets/imgs/mysql.png" alt="Logo de Mysql" class="image-item">
                <img src="assets/imgs/mongodb.webp" alt="Logo de Mongo" class="image-item">
            </div>

            <h6>Tecnologías utilizadas en el Frontend</h6>
            <div class="image-grid">
                <img src="assets/imgs/react.png" alt="Logo de react" class="image-item">
                <img src="assets/imgs/html.png" alt="Logo de html" class="image-item">
                <img src="assets/imgs/css.png" alt="Logo de CSS" class="image-item">
                <img src="assets/imgs/Js.png" alt="Logo de Js" class="image-item">
                <img src="assets/imgs/Bootstrap.png" alt="Logo de Bootstrap" class="image-item">
                <img src="assets/imgs/vite.jpg" alt="Logo de Bootstrap" class="image-item">
            </div>
            <br>

            <br>
        </div>
    </section>
    {{> footer}}
</body>

</html>