      <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Start your development with JohnDoe landing page.">
    <meta name="author" content="Devcrud">
    <title>{{titulo}}</title>
    <link rel="stylesheet" href="/assets/vendors/themify-icons/css/themify-icons.css">
    <link rel="stylesheet" href="/assets/css/estilos.css">
</head>
<body>
         {{> header}}
        
        {{> navbar }}
        <section class="section" id="service">
        <div class="container">
            <h2 class="mb-5 pb-4"><span class="text-danger">P치gina </span>web </h2>
            <p class="mt-20">La pagina web est치 despleguedo en Railway. Railway es la nube para crear, enviar y supervisar aplicaciones. La p치gina web tiene el objetivo de desplegar con variables de entorno, usando la arquitectura privada del Railway. </p>
            <h4>Tecnologias utilizadas en el Backend</h4>
                <div class="image-grid">
                        <img src="assets/imgs/env.png" alt="Logo de .ENV" class="image-item">
                        <img src="assets/imgs/Express.png" alt="Logo de Express" class="image-item">      
                    </div>
                <h4>Tecnologias utilizadas en el Frontend</h4>
                    <div class="image-grid">
                    <img src="assets/imgs/handlebars.jpg" alt="Logo de Hbs" class="image-item">      
                    <img src="assets/imgs/css.png" alt="Logo de CSS" class="image-item">
                    <img src="assets/imgs/Js.png" alt="Logo de Js" class="image-item">
                    </div>
                    <br>

            <h4>Imagenes de la p치gina web</h4>
                <div class="image-grid-proyecto">
                        <img src="assets/imgs/05-server1.png" alt="Login del restaurante" class="image-item-proyecto">
                        <img src="assets/imgs/05-server2.png" alt="Dashborad del restaurante" class="image-item-proyecto">
                        <img src="assets/imgs/05-server3.png" alt="Modulo del mesero" class="image-item-proyecto">
                        <img src="assets/imgs/05-server4.png" alt="Meno del restaurante" class="image-item-proyecto">
                </div>
                <br>
            <h4><span class="text-danger">Video </span>del proyecto</h4>
            <iframe class="video-container" src="https://www.youtube.com/embed/G-tNCbLNo7M" frameborder="0" allowfullscreen></iframe>
            <br>
            <h4><span class="text-danger">Repositorio </span>del proyecto</h4>
            <a class="linkRepo" target="_blank" href="https://github.com/letytiney/05-webservice.git">Link del repositorio de Frontend</a>
            <br>
            </div>
    </section>
        {{> footer}}
        </body>
</html>