<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Start your development with JohnDoe landing page.">
    <meta name="author" content="Devcrud">
    <title>{{titulo}}</title>
    <link rel="stylesheet" href="/assets/vendors/themify-icons/css/themify-icons.css">
    <link rel="stylesheet" href="/assets/css/estilos.css">
</head>
<body>
      <nav class="navbar sticky-top navbar-expand-lg navbar-light bg-white" data-spy="affix" data-offset-top="510">
        <div class="container">
            <button class="navbar-toggler ml-auto" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse mt-sm-20 navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a href="/" class="nav-link">Home</a>
                    </li>
                    <li class="nav-item">
                        <a href="/sobremi" class="nav-link">Sobre mi</a>
                    </li>
                    <li class="nav-item">
                        <a href="/cv" class="nav-link">Hoja de vida</a>
                    </li>
                </ul>
                <ul class="navbar-nav brand">
                    <li class="brand-txt">
                        <h5 class="brand-title">{{nombre}}</h5>
                        <div class="brand-subtitle">{{ocupacion}}</div>
                    </li>
                </ul>
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a href="/lenguajes" class="nav-link">Dominio de Lenguajes</a>
                    <li class="nav-item last-item">
                        <a href="/contacto" class="nav-link">Contacto</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
        <br><br><br>
    <div class="container-fluid">
        <div id="about" class="row about-section">
            <div class="col-lg-4 about-card">
                <h3 class="font-weight-light">¿Quien soy yo?</h3>
                <span class="line mb-5"></span>
                <h5 class="mb-3">Soy desarrolladora Junior para Backend y Frontend</h5>
                <p class="mt-20">Soy estudiante de Ingenieria en Sistemas de la Universidad Mariano Galvez de Guatemala, sede Sololá. Estoy cursando el octavo semestre de mi carrera. Con grandes metas y propositos que tengo para convertirme en una gran profesional y poder ejercerlo de manera eficiente. 
                </p>
                <button class="btn btn-outline-danger"><i class="icon-down-circled2 "></i>Download My CV</button>
            </div>
            <div class="col-lg-4 about-card">
                <h3 class="font-weight-light">Personal Info</h3>
                <span class="line mb-5"></span>
                <ul class="mt40 info list-unstyled">
                    <li><span>Fecha de nacimiento</span> : 22/05/1998</li>
                    <li><span>Email</span> : leticiatiney@gmail.com</li>
                    <li><span>Celular</span> : + (502) 5821 3513</li>
                    <li><span>Estado</span> : Soltera </li>
                    <li><span>Dirección</span> :  Santiago Atitlan, Zona 1 villas San Nicolas.</li>
                </ul>
                <ul class="social-icons pt-3">
                    <li class="social-item"><a class="social-link" href="#"><i class="ti-facebook" aria-hidden="true"></i></a></li>
                    <li class="social-item"><a class="social-link" href="#"><i class="ti-instagram" aria-hidden="true"></i></a></li>
                    <li class="social-item"><a class="social-link" href="#"><i class="ti-github" aria-hidden="true"></i></a></li>
                </ul>  
            </div>
            <div class="col-lg-4 about-card">
                <h3 class="font-weight-light">Mi expeciencia</h3>
                <span class="line mb-5"></span>
                <div class="row">
                    <div class="col-1 text-danger pt-1"><i class="ti-widget icon-lg"></i></div>
                    <div class="col-10 ml-auto mr-3">
                        <h6>Toma de requerimientos</h6>
                        <p class="subtitle">Siguiendo las fases de Kendall & Kendall</p>
                        <hr>
                    </div>
                </div>
                <div class="row">
                    <div class="col-1 text-danger pt-1"><i class="ti-paint-bucket icon-lg"></i></div>
                    <div class="col-10 ml-auto mr-3">
                        <h6>Desarrollo web FrontEnd</h6>
                        <p class="subtitle">Usando framework o librerias</p>
                        <hr>
                    </div>
                </div>
                <div class="row">
                    <div class="col-1 text-danger pt-1"><i class="ti-stats-up icon-lg"></i></div>
                    <div class="col-10 ml-auto mr-3">
                        <h6>Desarrollo de Backend</h6>
                        <p class="subtitle">En lenguajes interpretados como JavaScrip, Node.js </p>
                        <hr>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br><br><br><br><br><br><br><br><br><br><br>
      <footer class="footer py-3">
        <div class="container">
            <p class="small mb-0 text-light">
                &copy; <script>document.write(new Date().getFullYear())</script> Creado con <i class="ti-heart text-danger"></i> por <a href="http://devcrud.com" target="_blank"><span class="text-danger" title="Bootstrap 4 Themes and Dashboards">DevCRUD</span></a> 
            </p>
        </div>
    </footer>
</body>
</html>